<link rel="stylesheet" href="main.css">
<h2>Fuhgeddit</h2>
<% @posts.each do |post| %>
<ul class="posts">
	
	<li class="post">
		<%= link_to post.title, post_path(post) %>
	</li>
	<li>
		<%= link_to "#{post.comments.count} comments", post_path(post) %>
	</li>
	
	<div>
		<%= link_to "Visit Post", post.url %>
	</div>
	<div class="upvote">
	<%= link_to "UpVote",  like_post_path(post), method: :put %>
	<!-- <%= post.get_upvotes.size %> -->
    </div>
    <div class="score">
    <%= post.score %>
    </div>
    <div class="downvote">
	<%= link_to "Downvote", dislike_post_path(post), method: :put  %>
	<!-- <%= post.get_downvotes.size%> -->
	</div>
</ul>
<% end %>
<div class="posts-nav">
	<%= paginate @posts %>
	<br>
	<%= link_to "Add a New Post", posts_new_path %>
</div>